NEXT_PUBLIC_EVENT_TIME_ZONE=Europe/Bratislava

NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8080/api
API_BASE_URL=http://api:80/api

NEXT_PUBLIC_TICKETING_API_BASE_URL=http://127.0.0.1:8080
TICKETING_API_BASE_URL=http://api:80
